Score Game

******** Now your results ********

<p>Your word: <%= @response %></p>

<p>Time Taken to answer: <%= @time %></p>

<p>Your score: <%= @your_score %></p>

<p><%= @message %></p>


<p><%= link_to "Play Again", new_path %></p>


<p>valeur de dico result : <%= @dico_result  %></p>
